# Loading data into memory

In [ ]:
from nilmtk import DataSet

enertalk = DataSet('../nilmtk-converter/enertalk_converted/enertalk.h5')
elec = enertalk.buildings[1].elec
elec

In [13]:
tv = elec['television']
tv.available_columns()

[('power', 'active'), ('power', 'reactive')]

# Loading data

### Load all columns (default)

In [15]:
df = next(tv.load())
df.head()

physical_quantity                 power
type                             active reactive
Unix
2016-11-02 09:00:00.020000+09:00   0.28     1.76
2016-11-02 09:00:00.086000+09:00   0.19     1.67
2016-11-02 09:00:00.153000+09:00   0.08     1.62
2016-11-02 09:00:00.220000+09:00   0.14     1.74
2016-11-02 09:00:00.286000+09:00   0.14     1.67

### Load a single column of power data
Use tv.power_series() which returns a generator of 1-dimensional pandas.Series objects, each containing power data using the most 'sensible' AC type

In [16]:
series = next(tv.power_series())
series.head()

Unix
2016-11-02 09:00:00.020000+09:00    0.28
2016-11-02 09:00:00.086000+09:00    0.19
2016-11-02 09:00:00.153000+09:00    0.08
2016-11-02 09:00:00.220000+09:00    0.14
2016-11-02 09:00:00.286000+09:00    0.14
Name: (power, active), dtype: float64

or, to get reactive power

In [17]:
series = next(tv.power_series(ac_type='reactive'))
series.head()

Unix
2016-11-02 09:00:00.020000+09:00    1.76
2016-11-02 09:00:00.086000+09:00    1.67
2016-11-02 09:00:00.153000+09:00    1.62
2016-11-02 09:00:00.220000+09:00    1.74
2016-11-02 09:00:00.286000+09:00    1.67
Name: (power, reactive), dtype: float64

### Specifiy physical quantity or AC type

In [19]:
df = next(tv.load(physical_quantity='power', ac_type='active'))
df.head()

physical_quantity                 power
type                             active
Unix
2016-11-02 09:00:00.020000+09:00   0.28
2016-11-02 09:00:00.086000+09:00   0.19
2016-11-02 09:00:00.153000+09:00   0.08
2016-11-02 09:00:00.220000+09:00   0.14
2016-11-02 09:00:00.286000+09:00   0.14

### Loading by specifying AC type

In [20]:
df = next(tv.load(ac_type='active'))
df.head()

physical_quantity                 power
type                             active
Unix
2016-11-02 09:00:00.020000+09:00   0.28
2016-11-02 09:00:00.086000+09:00   0.19
2016-11-02 09:00:00.153000+09:00   0.08
2016-11-02 09:00:00.220000+09:00   0.14
2016-11-02 09:00:00.286000+09:00   0.14